<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b1dd495d1a.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Help</title>
</head>

<body>
    {{>header}}
    <main>
        <h1 class="text-center"><b>{{title}}</b></h1>
        <div id="input" class="container text-center">
            <h3>Hướng dẫn sử dụng.</h3>
            <br>
            <h5><span class="badge badge-primary">Bước 1:</span> Nhập tên khu vực bạn muốn tra cứu vào ô tìm kiếm ở
                <span class="badge badge-warning"> Menu Home</span> hoặc
                <span class="badge badge-warning">Menu Weather</span> đều được.</h5>
            <h5><span class="badge badge-primary">Bước 2:</span> Nhấn nút Search kế bên để bắt đầu tìm kiếm.</h5>
            <h5><span class="badge badge-primary">Bước 3:</span> Chọn khu vực bạn đang tìm kiếm để xem thời thiết.</h5>
            <h5><span class="badge badge-primary">Bước 4:</span> Hết rồi :v</h5>
        </div>
    </main>
    {{>footer}}
</body>

</html>