<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b1dd495d1a.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    {{!-- partials --}}

    {{>header}}
    <main>
        <h1 class="text-center"><b>WEATHER</b></h1>
        <div id="input" class="container text-center">
            <h3>{{place_name}}</h3>
            <div class="d-flex justify-content-center content">
                <p>Thời tiết hôm nay là</p>
                <p class="badge badge-success">{{data.summary}}</p>
                <br>
                <p>, Nhiệt độ là </p>
                <p class="badge badge-warning">{{data.temperature}}</p>
                <p> độ C</p>
            </div>
        </div>
        <br>
        <form class="form-inline justify-content-center" action="/autocomplete" method="POST">
            <input id="search" class="form-control mr-sm-1" type="text" value=" " name="search" placeholder="Search" />
            <button class="btn btn-dark" type="submit">Search</button>
        </form>
        <br>
        <div class="d-flex justify-content-center content">
            <p id="paragraph_1"></p>
        </div>
    </main>
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/weather.js"></script>
</body>

</html>